---
layout: default
title: Tags
---

<div class="page-header">
  <h1>{{ page.title }}</h1>
</div><!-- /.title -->

<div class="row">

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
      <div class="panel panel-default" id="#{{ tag | first }}">
        <div class="panel-heading">
          <h3 class="panel-title">Tags</h3>
        </div><!-- /.heading -->
        <div class="panel-body">
          <ul class="list-unstyled">
          {% for tag in site.tags %}
            <li><a href="#{{ tag | first }}">{{ tag | first }}</a></li>
          {% endfor %}
          </ul>
        </div><!-- /.body -->
      </div><!-- /.panel -->
    </div><!-- /.module -->
  </div><!-- /.sidebar -->

  <div class="col-sm-8 blog-main">

{% for tag in site.tags %}
  <div class="panel panel-default" id="#{{ tag | first }}">
    <div class="panel-heading">
      <h3 class="panel-title">{{ tag | first }}</h3>
    </div><!-- /.heading -->
    <div class="panel-body">
      <ul class="list-unstyled">
      {% for posts in tag %}
       {% for post in posts %}
        {% if post.url %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% else %}
        <li>{{ post.title }}</li>
        {% endif %}s
       {% endfor %}
      {% endfor %}
      </ul>
    </div><!-- /.body -->
  </div><!-- /.panel -->
{% endfor %}

  </div><!-- /.main -->

</div><!-- /.row -->
