---
layout: default
title: Categories
---

<div class="page-header">
  <h1>Index: Categories</h1>
</div><!-- /.title -->

<div class="row">

  <div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module">
      <div class="panel panel-default" id="index">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div><!-- /.heading -->
        <div class="panel-body">
          <ul class="list-unstyled">
{% for collection in site.collections %}
            <li><a href="#{{ collection | first }}">{{ collection | first }}</a></li>
{% endfor %}
          </ul>
        </div><!-- /.body -->
      </div><!-- /.panel -->
    </div><!-- /.module -->
  </div><!-- /.sidebar -->

  <div class="col-sm-9 blog-main">

{% for collection in site.collections %}

  <div class="panel panel-default" id="{{ collection | first }}">
    <div class="panel-heading">
      <h3 class="panel-title">{{ collection | first }}</h3>
    </div><!-- /.heading -->
    <div class="panel-body">
      <ul class="list-unstyled">
  {% for posts in collection %}
    {% for post in posts %}
      {% if post.url %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
      </ul>
    </div><!-- /.body -->
  </div><!-- /.panel -->

  <div class="panel panel-default" id="{{ collection | first }}">
    <div class="panel-heading">
      <h3 class="panel-title">{{ collection | first }}</h3>
    </div><!-- /.heading -->
    <div class="panel-body">
      <p>{{ collection.categories }}</p>
      <p>{{ collection.categories | first }}</p>
      <ul class="list-unstyled">
  {% for categories in collection %}
    {% for category in categories %}
        <li><a href="#{{ category }}">{{ category | first }}</a></li>
    {% endfor %}
  {% endfor %}
      </ul>
    </div><!-- /.body -->
  </div><!-- /.panel -->

{% endfor %}

  </div><!-- /.main -->

</div><!-- /.row -->
