---
layout: default
title: Categories
---

<div class="page-header">
  <h1>Index: Categories</h1>
</div><!-- /.title -->

<div class="row">

  <div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module">
      <div class="panel panel-default" id="index">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div><!-- /.heading -->
        <div class="panel-body">
          <ul class="list-unstyled">
{% for collection in site.collections %}
            <li><a href="#{{ collection | first }}">{{ collection | first }}</a></li>
{% endfor %}
          </ul>
        </div><!-- /.body -->
      </div><!-- /.panel -->
    </div><!-- /.module -->
  </div><!-- /.sidebar -->

  <div class="col-sm-9 blog-main">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ collection.label }}</h3>
    </div><!-- /.heading -->
    <div class="panel-body">
{% for item in site.projects %}
  {% for variable in item %}
    {{ variable }}: {{ item[variable] }}
  {% endfor %}
{% endfor %}
    </div><!-- /.body -->
  </div><!-- /.panel -->


{% for collection in site.collections %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ collection.label }}</h3>
    </div><!-- /.heading -->
    <div class="panel-body">
      <ul class="list-unstyled">
  {% for posts in collection %}
        <li>{{ posts }}</li>
    {% for post in posts %}
        <li>-- {{ post }}</li>
      {% if post.url %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
      </ul>
    </div><!-- /.body -->
  </div><!-- /.panel -->

{% endfor %}

  </div><!-- /.main -->

</div><!-- /.row -->
